.projects {
  padding: 150px 0;
}

.projectsContainer {
  margin: 0 auto;
  width: 75vw;
  max-width: 1000px;
  font-family: "Roboto", sans-serif;
}

.aboutProjects {
  padding: 0 0 40px 15px;
  width: 50%;
}

.projectsTitle {
  font-size: 3rem;
  margin-bottom: 30px;
}

.posts {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
