:root {
  --main-bg-color: brown;
}

* {
  margin-top: 0;
}

body {
  margin: 0;
  font-family: "Abel";
  color: black;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
}
