////////////////////
//    homepage    //
////////////////////

.main {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}

.homeContainer {
  box-sizing: border-box;
  padding: 20px 0 0 50px;
  margin: 0 20%;
  width: 75vw;
  max-width: 1000px;
}

.socialLinks {
  position: absolute;
  right: 0;
}
////////////////////
//   into text    //
////////////////////

.intro {
  box-sizing: border-box;

  z-index: -2;
  margin: 150px 0;
  font-size: 3.5rem;
  width: 60%;
  min-width: 500px;
  cursor: default;
}

.hello {
  font-size: 4rem;
}

.hiThere {
  display: inline-block;
  animation: slideInLeft 2s;
  z-index: -2;
}

.myName {
  display: inline-block;
  animation: nameAnimate 5s infinite;
  z-index: -2;
}

.phill {
  display: inline-block;
  animation: nameAnimate 5s infinite, slideInTop 2680ms;
}

.period {
  display: inline-block;
  animation: slideInTop 3.2s;
}

.front,
.end,
.developer {
  font-size: 4rem;
}
.front {
  animation: fadeIn 4s;
}

.end {
  animation: fadeIn 4.5s;
}

.developer {
  color: green;
  animation: shimmer 3.8s infinite, fadeIn 5s;
}

.comma {
  color: black;
}

.guitarist,
.composer {
  font-size: 2.5rem;
}
.guitarist {
  animation: slideInLeft 6.5s;
  line-height: 0.5;
}

.composer {
  animation: slideInLeft 8s;
  line-height: 0.5;
}

.myName:hover {
  transform: rotate(1080deg);
  transition: 500ms;
}

.llamas {
  position: absolute;
  z-index: -1;
  width: 45vw;
  min-width: 500px;
  height: auto;
  right: 0;
  bottom: 0;
  animation: llamasAnimate 2s;
}

////////////////////
//     footer     //
////////////////////

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
  z-index: -4;
}

.svg {
  height: 100%;
  width: 100%;
}

.path {
  stroke: none;
  fill: rgb(7, 36, 7);
}

////////////////////
//  media queries //
////////////////////

@media (max-width: 800px) {
  .homeContainer {
    margin: 0 25%;
  }

  .front,
  .end,
  .developer,
  .hello {
    font-size: 3rem;
  }
  .intro {
    font-size: 2.5rem;
  }
}

@media (max-width: 650px) {
  .homeContainer {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }
  .llamas {
    min-width: 350px;
  }

  .intro {
    min-width: 300px;
    margin: 125px auto 0;

    font-size: 1.7rem;
  }

  .front,
  .end,
  .developer,
  .hello {
    font-size: 2.2rem;
  }

  .guitarist,
  .composer {
    font-size: 1.2rem;
  }
}

////////////////////
//  animations    //
////////////////////

@keyframes nameAnimate {
  0% {
    transform: translateY(0) rotate(0);
  }
  53% {
    transform: translateY(0) rotate(0);
  }
  55% {
    transform: translateY(10px) rotate(0);
  }
  60% {
    transform: translateY(-10px) rotate(10deg);
  }
  65% {
    transform: translateY(-5px) rotate(-10deg);
  }
  70% {
    transform: translateY(-10px) rotate(10deg);
  }
  75% {
    transform: translateY(-5px) rotate(-10deg);
  }
  80% {
    transform: translateY(-10px) rotate(10deg);
  }
  85% {
    transform: translateY(-5px) rotate(-5deg);
  }
  90% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-500px);
  }
  80% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes llamasAnimate {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  70% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    color: rgb(0, 128, 117);
  }
  50% {
    color: rgb(71, 180, 71);
  }

  100% {
    color: green;
  }
}
