.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
  margin-top: 3rem;
  width: 100%;
}

.waves {
  position: absolute;
  width: 100%;
  z-index: -2;
  height: 150px;
  overflow: hidden;
}

.svg {
  bottom: 0;
  height: 100%;
  width: 100%;
}

.path {
  stroke: none;
  fill: black;
}

.copyright {
  color: white;
  position: absolute;
  right: 3rem;
  font-size: 0.8rem;
}
